*{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
img{
    width: 4%;
    margin: 0px 48% 0px 48%;
}
div{
    width: 20%;
    height: 300px;
    background-color: rgb(27, 25, 25);
    margin:0% 40% 0% 40%;
    box-shadow: 1px 4px 4px 1px rgb(38, 36, 36);
    border-radius: 7px;
    padding: 10px  10px;
    border-style: ridge;
    border-color: gray;
}
div h4{
    background-color: rgb(27, 25, 25);
    margin-left: 17px

}
div input{
    width: 90%;
    margin-left: 6px;
    padding: 8px;
    border-style: initial;
    border-radius: 5px;
}
div a{
    background-color: rgb(27, 25, 25);
    color: rgb(0, 123, 255);
    text-decoration:none;
    
}
div button{
    width: 90%;
    padding: 8px;
    margin-left: 15px;
    background-color: rgb(0, 255, 98);
    color: rgb(255, 255, 255);
    border-style: initial;
    border-radius: 5px;
}
#b2{
    width: 20%;
    height: 25px;
    padding: 10px;
    background-color: rgb(27, 25, 25);
    margin:0% 40% 0% 40%;
    box-shadow: 1px 4px 4px 1px rgb(38, 36, 36);
    border-radius: 7px;
    border-style: ridge;
    border-color: gray;
}
#a2{
    color: blue;
    text-decoration: none;
    background-color: rgb(38, 36, 36);
    
}
#a3{
    color: blue;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin-left: 30px;
    
}